<form action="createbook" method="POST">
  <h2>BOOK</h2>
  <label for="name">name</label>
  <input type="text" name="name" />
  <label for="price">price</label>
  <input type="text" name="price" />

  <label for="published_on">published</label>
  <input type="text" name="published_on" />

  <button>submit</button>
</form>
