<form action="/createauthor" method="POST">
  <h2>createauthor</h2>
  <label>name</label>
  <input type="text" name="name" />
  <label>dob</label>
  <input type="text" name="dob" />
  <label>age</label>
  <input type="text" name="age" />

  <button>submit</button>
</form>
